{% extends 'auxiliary/base.html' %}

{% block right_content %}
    <h3>Entregas</h3>
    
    {% if report_descriptions %}
        <ul>
        {% for report_description in report_descriptions %}
            {% if report_description.reports %}
                <li>{{ report_description.name }}
                <ul>
                    {% for report in report_description.reports %}
                        <li>{{ report.group.name }} (
                        <a href="https://spreadsheets.google.com/ccc?key={{report.feedback_key}}">Ver documento de feedback</a> / 
                        {% if report.last_delivery_date %}<a href="/site_media/uploaded_reports/{{report.id}}.zip">Descargar entrega</a> / {% endif %}
                        {% if report.corrected %}<a href="{% url prototipo.views_auxiliary.unmark_as_corrected auxiliary.id report.id %}">Marcar como no corregido</a> /<a href="{% url prototipo.views_auxiliary.mark_as_validated auxiliary.id report.id %}">Marcar como validado</a> ) {% endif %}
                        </li>
                    {% endfor %}                        
                </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay entregas</p>
    {% endif %}
{% endblock %}
