{% extends 'base_account.html' %}

{% block body %}
    <div class="left_menu">
        <ul>
            <li><a href="{% url prototipo.views_coordinator.index course_instance.id %}">Inicio</a></li>
            <li><a href="{% url prototipo.views_coordinator.message course_instance.id %}">Mensajes</a></li> 
            <li><a href="{% url prototipo.views_coordinator.report_description course_instance.id %}">Entregas</a></li> 
        </ul>
    </div>    
    {% block right_content %}
    {% endblock %}
{% endblock %}
